<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com)
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot name="part1">
  <link name="ring">
    <inertial>
      <origin
        xyz="0 3.27385158845559E-18 0.005"
        rpy="0 0 0" />
      <mass value="0.019132" />
      <inertia
        ixx="9.8734E-05"
        ixy="1.1998E-35"
        ixz="-6.44359999999999E-37"
        iyy="9.8734E-05"
        iyz="6.02604294588915E-21"
        izz="0.00019715" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="../meshes/ring2.obj" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.298039215686275 0.298039215686275 0.298039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="../meshes/ring2.obj" />
      </geometry>
    </collision>
  </link>
</robot>
