<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="visual_smarticle_meshes">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.019692 0.03506 0.045425"
        rpy="0 0 0" />
      <mass
        value="0.015011" />
      <inertia
        ixx="2.1583E-06"
        ixy="-2.1182E-08"
        ixz="-1.1038E-08"
        iyy="4.9108E-06"
        iyz="9.9459E-08"
        izz="4.807E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://visual_smarticle_meshes/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.29804 0.29804 0.29804 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://visual_smarticle_meshes/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="arm_left">
    <inertial>
      <origin
        xyz="0.029707 3.4694E-17 0.018645"
        rpy="0 0 0" />
      <mass
        value="0.0039781" />
      <inertia
        ixx="5.233E-07"
        ixy="-1.3235E-22"
        ixz="8.0821E-08"
        iyy="1.161E-06"
        iyz="7.2792E-23"
        izz="6.4744E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://visual_smarticle_meshes/meshes/arm_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.25 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://visual_smarticle_meshes/meshes/arm_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="servo_left"
    type="revolute">
    <origin
      xyz="0.040642 -0.044679 0.026742"
      rpy="0 0 0.24242" />
    <parent
      link="base_link" />
    <child
      link="arm_left" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="arm_right">
    <inertial>
      <origin
        xyz="0.029707 1.3878E-17 0.018645"
        rpy="0 0 0" />
      <mass
        value="0.0039781" />
      <inertia
        ixx="5.233E-07"
        ixy="-1.0092E-22"
        ixz="8.0821E-08"
        iyy="1.161E-06"
        iyz="-2.1765E-23"
        izz="6.4744E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://visual_smarticle_meshes/meshes/arm_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 0 0.25 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://visual_smarticle_meshes/meshes/arm_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="servo_right"
    type="revolute">
    <origin
      xyz="-0.0017576 -0.044679 0.026742"
      rpy="0 0 -3.1366" />
    <parent
      link="base_link" />
    <child
      link="arm_right" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>